<header id="header">
    <div>
        <a href="#" class="logo">
            <img src="./img/logo.png" alt="logo">
        </a>
    </div>
    <div>
        <nav>
            <ul id="menu">
                <li>
                    <a href="#" class="active">Главная</a>
                </li>
                <li>
                    <a href="#">Конкурс</a>
                </li>
                <li>
                    <a href="#">О фильме</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <ul id="soc-link">
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>
    </div>
</header>