$Beba-reg: "Conv_BebasNeue Regular", sans-serif;
$Nova-bold: "Conv_ProximaNova-Bold", sans-serif;
$Nova-reg: "Conv_ProximaNova-Reg", sans-serif;
$Marker: "Conv_MarkerFelt-Thin_0", sans-serif;
$Apple: "Conv_15345", sans-serif;
$Impact: "Conv_Impact", sans-serif;

a{
	text-decoration: none;
}
body{
	background: #edc200;
	color: #fff;
	font-size: 24px;
	margin: 0;
}
*:focus{
	outline: none;
}
.hide{
	display: none;
}
#modalgallery{
	background-color: #edc200;
	width: 100%;
	min-height: 100%;
	padding: vw(10);
	.pagi{
		display: none;
	}
	.brand{
		display: none;
	}

	.gallery-block{
		min-height: 95vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.title{
			max-width: vw(655);
			margin: 0 auto;
			img{
				display: block;
				width: 100%;
			}
		}
		.flex-block{
			margin-top: vw(70);
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.block{
				width: vw(428);
				margin-bottom: vw(40);
				margin-left: vw(15);
				margin-right: vw(15);
				.img-block{
					width: 100%;
					img{
						display: block;
						width: 100%;
					}
				}
				.bottom-block{
					margin-top: vw(25);
					display: flex;
					justify-content: space-between;
					.name{
						font-family: $Apple;
						font-size: vw(30);
						line-height: vw(26);
						color: #000;
						max-width: vw(220);
					}
					.like-count{
						display: flex;
						div{
							font-family: $Apple;
							font-size: vw(33);
							color: #000;
							&:nth-child(1){
								margin-right: vw(10);
							}
							&:nth-child(2){
								width: vw(50);
								img{
									display: block;
									width: 100%;
									height: 100%;
									object-fit: contain;
								}
							}
						}
					}
				}
			}
		}
		.y-button{
			margin: 0 auto;
			margin-top: vw(40);
			text-transform: uppercase;
			font-family: $Impact;
			line-height: 3.5vw;
		}
	}
	.fancybox-button svg path{
		fill:#000
	}
	.fancybox-button{
		background: url(../images/close.png) center center no-repeat;
		background-size: contain;
		width: vw(70);
		height: vw(70);
		padding: 0;
		right: vw(50);
		top: vw(50);
		position: fixed;
		svg{
			display: none;
		}
	}
}
.header{
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	height: vw(63);
	width: 100%;
	box-sizing: border-box;
	padding: 0px vw(24);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000;
	nav{
		display: block;
	}
	.menu{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: vw(115);
		a{
			display: block;
			font-size: vw(30);
			font-family: $Impact;
			text-transform: uppercase;
			color: #fff;
			&.active{
				color: #fb2c81;
			}
		}
		li+li{
			margin-left: vw(30);
		}
	}
	.soc-link{
		width: vw(262);
		display: flex;
		justify-content: space-between;
		align-items: center;
		button{
			display: block;
			padding: 0;
			margin: 0;
			border: none;
			cursor: pointer;
			background: none;
			height: vw(24);
			box-sizing: border-box;
			img{
				display: block;
				height: 100%;
			}
			&.tw{
				padding: vw(2) 0;
			}
			&.vk{
				padding: vw(3) 0;
			}
		}
	}
	.logo{
		width: vw(147);
		img{
			display: block;
			width: 100%;
		}
	}
}


.wrapper{
	overflow: hidden;
	position: relative;
}

.section{
	height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	padding-top: vw(63);
}
.slider-wrapper{
	overflow: hidden;
}
#section-1{
	position: relative;

	.top-block{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: vw(33);
		padding-left: vw(54);
		padding-right: vw(39);
		> div {
		}
		.tagline{
			position: relative;
			box-sizing: border-box;
			width: vw(783);
			padding-bottom: vw(110);
			background: vw(66) bottom / vw(519) url(./../images/before-logo.png) no-repeat;
			img{
				width: 100%;
			}
		}
		.title{
			box-sizing: border-box;
			padding-top: vw(13);
			width: vw(818);
			img{
				display: block;
				width: 100%;
			}
		}
	}
	.text-block{
		position: relative;
		width: vw(675);
		height: vw(375);
		text-align: center;
		margin-left: vw(107);
		z-index: 1;
		p{
			font-family: $Nova-reg;
			font-size: vw(24);
			line-height: vw(36);
			color: #000;
			.bold{
				font-family: $Nova-bold;
			}
			&:nth-child(1){
				margin-bottom: vw(30);
			}
			&:nth-child(2){
				font-size: vw(28);
				line-height: vw(33);
				color: #000;
			}
			.b{
				display: block;
				height: 0;
				width: 0;
				margin: 0;
				padding: 0;
			}
		}
		.arrow{
			position: absolute;
			left: 50%;
			bottom: vw(40);
			margin-left: vw(-11);
			display: block;
			width: vw(22);
			img{
				display: block;
				width: 100%;
			}
		}
	}
	.hq-block{
		position: absolute;
		right: vw(-44);
		top: vw(237);
		width: vw(1252);
		max-height: 78vh;
		img{
			display: block;
			width: 100%;
			height: 100%;
			max-height: 78vh;
			object-fit: contain;
		}
	}
	.bottom-block{
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
	}
	.bottom-big-block{
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.pagi{
		right: vw(72);
	}
}
.brand{
	position: absolute;
	left: 0;
	bottom: 0;
	margin-bottom: 3.4vw;
	margin-left: 1vw;
	width: 0.6vw;
	img{
		display: block;
		width: 100%;
	}
}
.date{
	position: absolute;
	right: vw(398);
	bottom: vw(27);
	width: vw(223);
	img{
		display: block;
		width: 100%;
	}
}
.pagi{
	position: absolute;
	right: vw(22);
	bottom: vw(22);
	width: vw(75);
	img{
		display: block;
		width: 100%;
	}
}
.y-button{
	display: block;
	text-align: center;
	color: #111815;
	background-color: #fff001;
	font-size: 2vw;
	line-height: 1.5vw;
	font-family: $Marker;
	width: 14.6vw;
	height: 3.5vw;
	border-radius: .7vw;
	cursor: pointer;
}

#section-2{
    position: relative;
    background: center / 100% 100%  url(./../images/bg2.jpg) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bottom-block{
        margin-top: auto;
        padding-bottom: vw(36);
		position: relative;
		width: 100%;
        .text-block{
            margin-left: vw(94);
			img{
				display: block;
				width: vw(571);
			}
            .text{
                font-size: vw(21);
                line-height: vw(24);
                font-family: $Nova-reg;
				width: vw(600);
                padding-left: vw(28);
                margin-top: vw(2);
                .b{
                    display: block;
                }
            }
        }
        .logo-block{
			width: vw(620);
			position: absolute;
			right: vw(68);
			bottom: vw(108);
            img{
                display: block;
                width: 100%;
            }
        }
        .y-button{
			white-space: nowrap;
			width: auto;
			height: auto;
			position: relative;
			margin: 0 vw(23);
			margin-top: auto;
			background: transparent;
			color: #fff;
			font-family: $Apple;
			text-transform: uppercase;
			font-size: vw(24);
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		.button-block{
			display: flex;
			justify-content: center;
			z-index: 1;
			position: absolute;
			left: vw(768);
			bottom: vw(51);
		}
    }
    .abs{
        position: absolute;
		background-size: 100% 100%;
        background-repeat: no-repeat;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
		justify-content: center;
		cursor: pointer;
		z-index: 5;
        span{
            display: block;
        }
        .big{
            font-family: $Impact;
            font-size: vw(40);
			line-height: vw(36);
            text-align: center;
			color: #000000;
        }
        .small{
            font-family: $Nova-reg;
            font-size: vw(24);
            line-height: vw(36);
            color:#d7246d;
			margin-top: vw(5);
        }
		&::before{
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			z-index: -1;
			position: absolute;
			left: 0;
			top: 0;
		}
        &.abs-1{
            top: 20vh;
            left: vw(78);
			width: vw(374);
			height: vw(163);
            background-image: url(./../images/abs-1.png);
            padding-right: vw(118);
			padding-top: vw(13);
			&::before{
				background-image: url("../images/abs-1.png");
			}
        }
        &.abs-2{
			top: 47vh;
			left: vw(233);
            width: vw(318);
            height: vw(224);
            background-image: url(./../images/abs-2.png);
            padding-top: vw(120);
			&::before{
				background-image: url("../images/abs-2.png");
			}
        }
        &.abs-3{
			top: 24vh;
			left: vw(596);
            width: vw(346);
            height: vw(329);
            background-image: url(./../images/abs-3.png);
            padding-top: vw(185);
			&::before{
				background-image: url("../images/abs-3.png");
			}
        }
        &.abs-4{
			top: 49vh;
			left: vw(880);
			width: vw(296);
			height: vw(292);
            background-image: url(./../images/abs-4.png);
            padding-top: vw(190);
			&::before{
				background-image: url("../images/abs-4.png");
			}
        }
        &.abs-5{
			top: 35vh;
			left: vw(1286);
            width: vw(446);
            height: vw(162);
            background-image: url(./../images/abs-5.png);
            padding-top: vw(60);
			padding-right: vw(120);
			&::before{
				background-image: url("../images/abs-5.png");
			}
        }
		&:hover{
			&::before{
				filter: brightness(1.2);
			}
		}
	}
	.pagi{
		bottom: 0.9vw;
	}
	.date{
		right: vw(317);
		bottom: vw(50);
		span{
			font-family: $Impact;
			color: #fcee19;
			font-size: vw(30);
			display: block;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.brand{
		margin-bottom: vw(16);
	}
}

.game{
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	padding-top: vw(63);
	background-color: #ecc12b;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	will-change: transform;
	-webkit-transition: -webkit-transform .8s cubic-bezier(.645, .045, .355, 1);
	transition: transform .8s cubic-bezier(.645, .045, .355, 1);
	overflow: hidden;
	&.active{
		transform: none
	}
	.game__container {
		height: 100%;
		overflow: auto;
		line-height: 100vh;
		text-align: center;
		font-size: 0;
		.game__inner {
			display: flex;
			width: 100%;
			height: 100%;
			position: relative;
			box-sizing: border-box;
			font-size: 0;
			text-align: center;
			line-height: 1;
			.game__block {
				box-sizing: border-box;
				&.game__collage {
					position: relative;
					margin-top: 2vw;
					margin-left: vw(90);
					width: vw(730);
					height: vw(730);
					border:0.2vw solid #fff001;
					padding: vw(25);
					box-sizing: border-box;
					.collage__back {
						img {
							width: 100%;
							height: 100%;
						}
					}
					.collage_intro {
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						line-height: 30vw;
						box-sizing: border-box;
						background: #fff;
						display: block;
						z-index: 0;
						background: center / cover url(../images/bg-game-colaj.png) no-repeat;
						border: none;
						position: relative;
						.intro__inner {
							text-align: left;
							line-height: 1;
							margin: 0 2vw 0 4vw;
							display: inline-block;
							vertical-align: middle;
							font-family: $Nova-reg;
							color: #555;
							.inner__header {
								text-align: center;
								font-size: 2vw;
								margin-bottom: 2vw;
								margin-left: -3vw;
								font-weight: bold;
							}
							li {
								margin-bottom: 1vw;
								font-size: 1.5vw;
							}
						}
					}
					.collage__logo {
						position: absolute;
						top: 1vw;
						background-size: contain;
						width: 13.5vw;
						height: 19vw;
						left: 2vw;
						z-index: 60;
						img{
							display: block;
							width: 100%;
						}
					}
					.collage__items {
						.collage__item {
							position: absolute;
							padding: vw(5);
							display: flex;
							align-items: center;
							justify-content: center;
							box-sizing: content-box;
							.delete_cross {
								position: absolute;
								display: none;
								right: 0.2vw;
								top: 0.2vw;
								height: 0.5vw;
								width: 0.5vw;
								background: url("../images/close.png") center center no-repeat;
								background-size: contain;
							}
							img {
								max-height: 100%;
								max-width: 100%;
							}
							&.item_1 {
								width: vw(160);
								height: vw(160);
								top: vw(32);
								left: vw(275);
								z-index: 2;
							}
							&.item_2 {
								width: vw(280);
								height: vw(280);
								top: vw(20);
								right: vw(20);
							}
							&.item_3 {
								width: vw(162);
								height: vw(162);
								top: vw(220);
								left: vw(275);
								z-index: 3;
							}
							&.item_4 {
								width: vw(267);
								height: vw(313);
								bottom: vw(52);
								right: vw(24);
							}
							&.item_5 {
								width: vw(119);
								height: vw(160);
								left: vw(39);
								bottom: vw(31);
							}
							&.item_6 {
								width: vw(156);
								height: vw(368);
								bottom: vw(36);
								left: vw(176);
							}
							&[data-imaged="1"]:hover {
								background-color: rgba(255,255,255,0.5);
								z-index: 10;
								.delete_cross {
									display: block;
								}
							}
						}
					}
				}
				&.game_choose {
					width: 25vw;
					height: 50vw;
					box-sizing: border-box;
					padding: 1vw;
					padding-top: 5vw;
					.choose__menu {
						font-size: 0;
						text-align: left;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						.menu__item {
							display: inline-block;
							vertical-align: top;
							font-size: vw(18);
							color: #000;
							cursor: pointer;
							position: relative;
							font-family: $Beba-reg;
							text-transform: uppercase;
							background: transparent;
							margin: 0.5vw 0.6vw;
							padding: 0;
							&.selected {
								color: #fff;
								&:before{
									content:'';
									position: absolute;
									display: block;
									width: 100%;
									height: 0.1vw;
									background-color: #fff;
									left: 0;
									bottom: -0.1vw;
								}
							}
							&:hover {
								transform: scale(1.1, 1.1);
							}
						}
					}
					.choose__groups {
						margin-top: 2.5vw;
						.choose__group {
							display: none;
							overflow: hidden;
							&.selected {
								display: block;
							}
							.slider__button{
								width: 1vw;
								height: 2vw;
								margin-top: -1vw;
								&.left{
									left: 3%;
									background: center / cover url(./../img/arrow-left.png)no-repeat;
								}
								&.right{
									right: 3%;
									background: center / cover url(./../img/arrow-right.png)no-repeat;
								}
							}
							.slider_wrap1 {
								position: relative;
								padding: 0 2vw;
								.slider__button{
								}
								.group__slider1 {
									.slider1__item {
										display: inline-block;
										vertical-align: top;
										text-align: center;
										border: 0.2vw solid transparent;
										box-sizing: border-box;
										cursor: pointer;
										&.selected {
											border-color: #000;
										}
										img {
											display: block;
											margin: 0 auto;
											max-width: 6vw;
											max-height: 6vw;
											object-fit: contain;
											width: 100%;
										}
									}
								}
							}
							.slider_wrap {
								position: relative;
								.group__slider2 {
									margin: 2vw auto vw(20);
									width: 14vw;
									font-size: 0;
									text-align-last: right;
									overflow: hidden;
									.slider2__item {
										display: inline-block;
										vertical-align: top;
										text-align: center;
										cursor: pointer;
										img {
											display: block;
											margin: 0 auto;
											max-width: 14vw;
											max-height: 16vw;
											object-fit: contain;
											width: 100%;
										}
									}
								}
							}
						}
					}

				}
			}
			.game__intro {
				display: block;
				margin-top: -1.5vw;
				margin-left: 2.5vw;
				width: 30vw;
				font-size: 0.9vw;
				font-family: $Nova-reg;
				color: #000;
				line-height: 1.4;
				text-align: left;
				span {
					color: #069;
				}
			}
			.game__send {
				display: none;
				margin: 0 auto;
				text-align: center;
				span {
					display: inline-block;
					vertical-align: top;
					cursor: pointer;
					font-size: 2vw;
					font-family: $Impact;
					color: #000;
					text-transform: uppercase;
					padding: 0.8vw 2.5vw;
					border-radius: .8vw;
					background-color: #fff001;
					&:hover {
						background-color: #f9b82b;
						color: #000;
					}
				}
				p{
					margin-bottom: 1vw;
					color: #ffffff;
					font-family: $Nova-reg;
					font-size: vw(18);
					font-weight: 400;
					text-align: center;
				}
				ul{
					display: flex;
					justify-content: center;
					max-width: 280px;
					margin: 0 auto;
					margin-bottom: 1.5vw;
					li{
						flex-shrink: 0;
						width: vw(41);
						height: vw(41);
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #fff001;
						border-radius: vw(5);
						color: #000;
						border: none;
						cursor: pointer;
						transition: 0.1s ease;
						&:hover{
							transform: scale(1.1);
						}
						+li{
							margin-left: vw(10);
						}
						a{
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							width: 100%;
							img{
								width: 45%;
								height: 45%;
								object-fit: contain;
							}
						}
					}
				}
			}
		}
	}


	.close-button{
		position: absolute;
		cursor: pointer;
		right: vw(24);
		top: vw(90);
		width: vw(70);
		height: vw(70);
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		z-index: 100;
		transition: all 0.3s;
		> div{
			width: 100%;
			height: 0.2vw;
			background-color: #000;
			&:nth-child(1){
				transform: rotate(45deg);
				margin-right: vw(-70);
			}
			&:nth-child(2){
				transform: rotate(-45deg);
			}
		}

		&:hover {
			transform: scale(1.2, 1.2);
		}
	}
	.description{
		position: relative;
		display: block;
		width: vw(578);
		box-sizing: border-box;
		height: auto;
		background-color: #000;
		padding-top: vw(15);
		padding-left: vw(28);
		pointer-events: none;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: -14vw;
			display: block;
			width: 28vw;
    		height: 37vw;
			margin-top: -20.5vw;
			background: center / cover url(../images/romb.png) no-repeat;
			z-index: 51;
		}
		&__image{
			position: absolute;
			top: 0;
			right: -9vw;
			display: block;
			width: 20vw;
			z-index: 53;
			height: 80%;
			margin-top: 10%;
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		.title-game{
			display: block;
			width: vw(458);
			position: relative;
			z-index: 52;
		}
		.top{
			position: relative;
			display: block;
			font-size: 1.24vw;
			line-height: 1.5vw;
			font-family: $Nova-reg;
			margin-top: 1vw;
			text-align: left;
			padding-right: 2vw;
			color: #ecc12b;
			z-index: 52;
		}
		ul{
			position: relative;
			z-index: 52;
			text-align: left;
			margin-top: 3vw;
			.heading{
				font-family: $Apple;
				font-size: 1.9vw;
				color: #ecc12b;
			}
			li{
				font-family: $Nova-reg;
				color: #ecc12b;
				font-size: 1.1vw;
				padding-right: 12vw;
				margin-top: 1.5vw;
			}
		}
	}
	.name-block{
		z-index: 66;
		position: absolute;
		left: vw(377);
		bottom: 8vh;
		white-space: nowrap;
		span{
			font-family: $Impact;
			font-size: 3.8vw;
			color: #edc200;
			&:nth-child(2){
				color: #000;
			}
		}
		p{
			font-size: 1.55vw;
			font-family: $Nova-reg;
			color: #fff;
			margin-top: 0.5vw;
		}
	}
	.day-look{
		position: absolute;
		width: 28vw;
		bottom: 1%;
		left: 50%;
		margin-left: -14.5vw;
		z-index: 60;
		span{
			font-family: $Apple;
			font-size: 2.2vw;
			color: #000;
		}
		div{
			left: 0;
			top: 0;
			position: absolute;
			width: 100%;
			height: 3vw;
			background-color: #fff001;
			z-index: -1;
			transform: rotate(-2deg);

		}
	}
	.game__auth{
		position: relative;
		display: none;
		.title{
			color: #ffffff;
			font-family: $Nova-reg;
			font-size: vw(18);
			font-weight: 400;
			text-align: center;
		}
		.info{
			text-align: center;
			font-size: vw(16);
			font-family: $Nova-reg;
			color: #000000;
			margin-top: vw(10);
		}
		.loader{
			width: 100%;
			height: 100%;
			background: #000 url("../img/loader.svg") center center no-repeat;
			background-size: contain;
			position: absolute;
			left: 0;
			top: 0;
			display: none;
			&.is-visible{
				display: block;
			}
		}
		.btn{
			font-size: 2vw;
			font-family: Conv_Impact,sans-serif;
			color: #000;
			text-transform: uppercase;
			padding: .8vw 2.5vw;
			border-radius: .8vw;
			background-color: #fff001;
			border: none;
			cursor: pointer;
			&:hover{
				background: #000;
				color: #fff001;
			}
		}
	}
	.social-block{
		margin-top: vw(10);
		display: flex;
		justify-content: center;
		align-items: center;
		.soc-link{
			width: vw(41);
			height: vw(41);
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff001;
			border-radius: vw(5);
			color: #000;
			transition: 0.2s ease;
			border: none;
			cursor: pointer;
			+.soc-link{
				margin-left: vw(10);
			}
			svg{
				width: vw(25);
				height: vw(25);
				pointer-events: none;
			}
			&:hover{
				@media all and (min-width: 769px) {
					color: #fff001;
					background-color: #000;
				}
			}
			&:active{
				color: #fff001;
				background-color: #000000;
			}
		}
	}

	&.inactive{
		.game__collage,.choose__menu,.choose__groups{
			pointer-events: none;
			user-select: none;
		}
		.choose__menu, .choose__groups{
			display: none !important;
		}
	}

	.game__thnaks{
		margin-bottom: vw(45);
		padding-top: 7vh;
		.title{
			position: relative;
			color: #fff001;
			font-family: $Apple;
			font-size: vw(42);
			font-weight: 400;
			text-align: center;
			&::before{
				content:"";
				display: block;
				left: 0;
				top: vw(5);
				position: absolute;
				width: 100%;
				height: 2.2vw;
				background-color: #000;
				z-index: -1;
				-webkit-transform: rotate(-2deg);
				transform: rotate(-2deg);
			}
		}
		.text{
			color: #000000;
			font-family: $Nova-reg;
			font-size: vw(21);
			font-weight: 400;
			line-height: vw(28);
			margin-top: vw(45);
		}
	}

	&#game-2{
		.name-block{
			left: vw(321);
			span{
				font-size: 2.8vw;
			}
		}
	}
	&#game-3{
		 .name-block{
			 left: vw(403);
		 }
	}
	&#game-4{
		 .name-block{
			 left: vw(339);
		 }
	}
	&#game-5{
		 .name-block{
			 left: vw(420);
		 }
	}
}



#section-3{
	display: flex;
	align-items: center;
	position: relative;
	.brand{
		display: none;
	}
	.abs-qeen{
		position: absolute;
		left: vw(15);
		top: -8vh;
		width: vw(1130);
		z-index: 0;
		height: 110vh;
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

	}
	.main-block{
		width: 100%;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		padding-right: vw(51);

		.text-block{
			position: relative;
			width: vw(818);
			padding-bottom: 10vh;
			.date{
				position: absolute;
				left: 0;
				top: vw(158);
				width: auto;
				right: auto;
				bottom: auto;
				span{
					font-family: $Impact;
					color: #000;
					font-size: vw(48);
					display: block;
					text-align: center;
				}
			}
			.img{
				margin-bottom: vw(5);
				img{
					display: block;
					width: 100%;
				}
			}
			p{
				font-size: vw(24);
				line-height: vw(36);
				font-family: $Nova-reg;
				color: #000;
				padding-right: vw(47);
				+p{
					padding-top: vw(30);
				}
			}
		}
		.video-block{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
			width: 50vw;
			.video{
				box-sizing: border-box;
				border: vw(7) solid #fff;
				margin-right: vw(5);
				margin-bottom: vw(10);
				padding: vw(10) vw(20) vw(35);
				width: vw(606);
				height: vw(359);
				position: relative;
				display: block;
				top: 6vh;
				> iframe, > img{
					position: relative;
					z-index: 1;
					display: block;
					width: 100%;
					margin: 0 auto;
				}
				&::before{
					width: vw(62);
					height: vw(108);
					display: block;
					content: "";
					position: absolute;
					left: 50%;
					top: 50%;
					margin-left: vw(-31);
					margin-top: vw(-54);
					background: url("../images/play.png") center center no-repeat;
					background-size: contain;
					transition: 0.3s ease;
					z-index: 3;
				}
				&:hover{
					&::before{
						transform: scale(1.2);
					}
				}
			}
			.black-button{
				text-align: center;
				color:  #000;
				font-size: vw(37);
				line-height: 3.5vw;
				font-family: $Impact;
				border-radius: .7vw;
				cursor: pointer;
				z-index: 1;
				text-transform: uppercase;

				width: vw(280);
				height: vw(69);
				background-color: #fff001;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: vw(175);
				position: relative;
				top: 6vh;
				&:hover{
					color: #fff001;
					background-color: #000000;
				}
			}
		}
	}

}
.btn-burger{
	display: none;
}
.mobile-menu{
	display: none;
	&.active{
		position: fixed;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		left: 0;
		top: 0;
		.overlay-bag{
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: 0.9;
			z-index: -1;
		}
		.mobile-logo{
			margin: 0 auto;
			margin-top: 20vw;
			width: 65vw;
			img{
				display: block;
				width: 100%;
			}
		}
		.brand{
			margin: 0;
			left: auto;
			right: 1vw;
			bottom: 32vw;
			width: 1.4vw;
		}
		.pagi{
			width: 10vw;
			bottom: 1.5vw;
			right: 1.3vw;
		}
		.soc-link{
			margin: 0 auto;
			margin-top: auto;
			margin-bottom: 1vw;
			margin-bottom: 6vw;
			width: 35vw;
		}
	}
}

.slider__button {
	position: absolute;
	z-index: 10;
	top: 50%;
	margin-top: -1vw;
	width: 1.5vw;
	height: 3vw;
	background: no-repeat;
	background-size: contain;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		transform: scale(1.2, 1.2);
	}
	&.left {
		left: 10%;
		background-image: url("../img/i_left_arrow.png");
	}
	&.right {
		right: 10%;
		background-image: url("../img/i_right_arrow.png");
	}
}
.close-button {

}




#modalpreeze{
	box-sizing: border-box;
	padding: vw(22) vw(47) vw(44);
	background-color: #edc200;
	.top-block{
		padding-right: vw(10);
		.title{
			img{
				width: vw(284);
				display: block;
				margin: 0 auto;
			}
		}
		p{
			display: block;
			font-family: $Nova-reg;
			font-size: vw(24);
			line-height: vw(24);
			color: #000;
			text-align: center;
			margin: 0 auto;
			margin-top: vw(12);
			max-width: vw(630);
		}
	}
	.bottom-block{
		display: flex;
		margin-top: vw(95);
		.heading{
			display: block;
			font-family: $Apple;
			font-size: vw(36);
			color: #000;
			margin-bottom: vw(10);
			text-align: center;
		}
		.left-img, .right-img{
			height: vw(252);
		}
		.left-img{
			img{
				display: block;
				width: vw(458);
			}
		}
		.right-img{
			display: flex;
			justify-content: flex-end;
			img{
				display: block;
				width: vw(315);
			}
		}
		.text{
			margin-top: vw(10);
			p{
				font-family: $Nova-reg;
				color: #000;
				font-size: vw(14);
				line-height: vw(14);
				margin-bottom: 0;
			}
		}
		> div{
			box-sizing: border-box;
			&:nth-child(1){
				width: vw(458);
				padding-left: vw(4);
				.heading{
					margin-left: right;
				}
				.text{
					margin-left: vw(8);
					width: vw(380);
				}
			}
			&:nth-child(2){
				width: vw(427);

				.text{
					p{
						text-align: center;
					}
				}
			}
		}
	}
	.fancybox-button.fancybox-close-small{
		padding: 0;
		width: vw(71);
		height: vw(71);
		background: url("../images/close.png") center center no-repeat;
		background-size: contain;
		right: vw(23);
		top: vw(25);
		svg{
			display: none;
		}
	}
}

.gallery__cp-popup {
	position: relative;
	margin-top: 3vw;
	text-align: left;
	width: 30vw;
	padding: 1vw;
	box-sizing: border-box;
	border: 1px solid #aaa;
	background: #fff;
	.slider__button{
		&.left{
			left: -10%;
			background-image: url("/img/i_left_arrow1.png");
		}
		&.right {
			right: -10%;
			background-image: url("/img/i_right_arrow1.png");
		}
	}
	.cp__picture {
		width: 28vw;
		height: 28vw;
	}
	.cp__likes {
		position: absolute;
		right: 1vw;
		bottom: 2vw;
		.info__likes {
			text-align: center;
			width: 4.5vw;
			height: 4vw;
			line-height: 4vw;
			background: url("/img/i_like1.png") no-repeat;
			background-size: contain;
			font-family: "Bebas Neue";
			font-size: 1.5vw;
			color: #000;
			transition: all 0.3s;
			cursor: pointer;
			&:hover {
				transform: scale(1.2, 1.2);
			}
		}
	}
	.cp__name {
		margin-top: 1vw;
		font-family: $Nova-reg;
		font-size: 0.8vw;
	}
	.cp__social {
		margin-top: 1vw;
		.social__buttons {
			margin-left: 0;
		}
	}
}
.gallery__container {
	display: none;
	padding-top: 8.5vw;
	box-sizing: border-box;
	height: 100%;
	overflow: auto;
	text-align: center;
	.gallery-wrap {
		padding-top: 2.8vw;
		padding-bottom: 8vw;
	}
	.gallery__items {
		.gallery__item {
			display: none;
			position: relative;
			vertical-align: top;
			width: 18vw;
			height: 18vw;
			margin: 0.5vw;
			img {
				width: 100%;
				height: 100%;
			}
			.item__info {
				opacity: 0;
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 100%;
				line-height: 18vw;
				text-align: center;
				background: rgba(0,0,0,0.5);
				transition: all 0.3s;
				.info__likes {
					display: inline-block;
					vertical-align: middle;
					width: 11vw;
					height: 11vw;
					line-height: 11vw;
					border-radius: 50%;
					background: rgba(0,0,0,0.5) url("../img/i_like.png") no-repeat center;
					background-size: 6vw 5vw;
					font-family: "Bebas Neue";
					font-size: 1.5vw;
					cursor: pointer;
					transition: all 0.3s;
					&:hover {
						transform: scale(1.1, 1.1);
					}
				}
			}
			&:hover{
				.item__info {
					opacity: 1;
				}
			}
		}
		.galery__load {
			text-align: center;
			margin: 1vw auto;
			span {
				display: inline-block;
				vertical-align: top;
				padding: 0.5vw;
				font-family: $Nova-reg;
				font-size: 1vw;
				color: #fff;
				background-color: #f08080;
				cursor: pointer;
				&:hover {
					background-color: #f9b82b;
					color: #000;
				}
			}
		}
	}
}

@media screen and (max-width:768px){
	.header .soc-link button img{
		height: auto;
		width: 100%;
	}
	.header .soc-link button.ok{
		width: 1.948vw;
	}
	.header .soc-link button.fb{
		width: 1.6883vw;
	}
	.header .soc-link button.vk{
		width: 2.207vw;
	}
	.header .soc-link button{
		height: auto;
	}
	.header .soc-link button.tw{
		width: 3.2467vw;
	}
	#modalgallery{
		padding: vw2(86) vw2(55);
	}
	#modalgallery .gallery-block .flex-block{
		flex-direction: column;
		.block{
			width: 90%;
			margin: 0 auto;
		}
	}
	#modalgallery .fancybox-button{
		width: vw2(70);
		height:  vw2(70);
	}
	#modalgallery{
		.fancybox-button svg path{
			fill:#fff001;
		}
		position: relative;
		.pagi{
			display: block;
			width: 10vw;
			top: auto;
			bottom: vw2(15);
			right: vw2(10);
		}
		.brand{
			display: block;
			left: auto;
			right: vw2(5);
			bottom: vw2(135);
			width: vw2(11);
		}
	}
	#modalgallery .gallery-block{
		min-height: 0;
	}
	#modalgallery .gallery-block .title{
		max-width: 100%;
	}
	#modalgallery .gallery-block .flex-block .block .bottom-block{
		margin-top: 5vw;
		margin-bottom: vw2(74);
	}
	#modalgallery .gallery-block .y-button{
		font-size: 6vw;
		width: 48vw;
		height: 9vw;
		line-height: 9vw;
	}
	#modalgallery .gallery-block .flex-block .block .bottom-block .name{
		font-size: vw2(39);
		line-height: vw2(32);
	}
	#modalgallery .gallery-block .flex-block .block .bottom-block .like-count div:nth-child(1){
		font-size:vw2(62);
		margin-right: vw2(16);
	}
	#modalgallery .gallery-block .flex-block .block .bottom-block .like-count div:nth-child(2){
		width: vw2(64);
	}
	#modalpreeze{
		width: 85.714vw;
		padding-top: 4.6753vw;
		padding-left: 2.5974vw;
		padding-right:  2.5974vw
	}
	#modalpreeze .fancybox-button.fancybox-close-small{
		width: 9.35vw !important;
		height: 9.35vw !important;;
		right: 2.5974vw;
		top:2.5974vw
	}
	#modalpreeze .bottom-block{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 7.7922vw;
	}
	#modalpreeze .top-block .title img{
		width: 35vw!important;
	}
	#modalpreeze .top-block p{
		font-size: 3.16vw!important;
		max-width: none;
		line-height: 3.5vw!important;
		padding-left: 2vw;
		padding-right: 2vw;
		margin-top: 3.20vw;
	}
	#modalpreeze .bottom-block .heading{
		font-size: 6vw!important;
		margin-bottom: 2.5974vw;
	}
	#modalpreeze .bottom-block .left-img img{
		width: 76.62vw!important;
		margin-left: 2.5974vw;
		margin-bottom: 5.1948vw;
	}
	#modalpreeze .bottom-block .left-img, #modalpreeze .bottom-block .right-img{
		width: 100%;
		height: auto!important;
	}
	#modalpreeze .bottom-block>div{
		width: 100%!important;
	}
	#modalpreeze .bottom-block .text{
		width: 100%!important;
		p{
			font-size: 3.1168vw!important;
			line-height: 3.1168vw!important;
			text-align: center;
		}
	}
	#modalpreeze .bottom-block>div:nth-child(1) .text{
		padding-left: 10vw;
		padding-right: 10vw;
		margin-bottom: 3.63636363vw;
	}
	#modalpreeze .bottom-block .right-img{
		justify-content:center;
		margin-bottom: 5px;
	}
	#modalpreeze .bottom-block .right-img img{
		width: 58.44vw!important;
	}
	#modalpreeze .fancybox-button{
		height: 18vw!important;
		width: 18vw!important;
	}
	#modalpreeze .bottom-block>div:nth-child(1) .heading{
		margin-left: auto!important;
		text-align: center!important;
	}
	.over-menu{
		display: none;
		.close-btn{
			display: none;
		}
		&.active{
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 10;
			.close-btn{
				width: 10vw;
				height: 10vw;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: auto;
				margin-right: 1.5vw;
				margin-top: 1vw;
				z-index: 100;
				> div{
					width: 100%;
					height: 0.5vw;
					background-color: #fff001;
					&:nth-child(1){
						transform: rotate(45deg);
						margin-right: -10vw;
					}
					&:nth-child(2){
						transform: rotate(-45deg);
					}
				}
			}
			.menu{
				flex-direction: column;
				margin: 0;
				margin-top: 45vw;
				li{
					margin-bottom: 4vw;
					a{
						margin: 0;
						font-size: 7.6vw;
					}
				}
			}
		}
	}
	.header{
		height: 9vw;
		padding: 0 2.5vw 0 2.5vw;
		.logo{
			width: 19vw;
		}
		nav{
			display: none;
		}
		.soc-link{
			width: 33vw;
			margin-right: 10vw;
			li{
				&:nth-child(1){
					a{
						width: 3vw;
					}
				}
				&:nth-child(2){
					a{
						width: 2vw;
					}
				}
				&:nth-child(3){
					a{
						width: 1.7vw;
					}
				}
				&:nth-child(4){
					a{
						width: 2.2vw;
					}
				}
			}
		}
		.btn-burger{
			display: flex;
			width: 7vw;
			height: 4.5vw;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;
			cursor: pointer;
			> div{
				width: 100%;
				height: 3px;
				background-color: #edc200;
			}
		}
	}
	.section{
		padding-top: 9vw;
	}
	#section-1 {
		height: 168.26vw!important;
		.hq-block{
			width: auto;
			top: 44vw;
			height: 80vw;
			max-height: none;
			right: -5vw;
			img{
				height: 100%;
				max-height: none;
				width: auto;
			}
		}
		.top-block {
			.tagline{
				display: none;
			}
			.title{
				width: 100%;
				padding-top: 5.7vw;
				padding-left: 2.4vw;
				padding-right: 2vw;
			}
		}
		.bottom-big-block{
			position: absolute;
			width: 100%;
			bottom: 0;
			.text-block{
				width: 100%;
				margin: 0;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: auto;
				padding-bottom: vw2(51);
				p{
					font-size: 3vw;
					line-height: 3vw;
					color: #000;
					padding: 0 7vw;
					&:nth-child(1) {
						margin-bottom: 3.5625vw;
					}
					&:nth-child(2) {
						font-size: 4vw;
						line-height: 3.875vw;
					}
				}
				.arrow{
					position: relative;
					left: auto;
					bottom: auto;
					margin: 0 auto;
					width: 2.8vw;
					margin-top: 6vw;
				}
			}
		}
		.brand{
			margin: 0;
			left: auto;
			right: 1vw;
			bottom: 16vw;
			width: 1.4vw;
		}
		.date{
			right: auto;
			bottom: auto;
			width: 29vw;
			left: 8.5vw;
			top:34vw;
		}
		.pagi{
			width: 10vw;
			bottom: 1.5vw;
			right: 1.3vw;
		}
	}
	#section-2{
		height: 189.610389vw !important;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 100%;
			height: 65vw;
			background: center / cover url(./../images/mob-bot-over-2.png) no-repeat;
		}
		&:after{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 65vw;
			background: center / cover url(./../images/mob-bot-over.png) no-repeat;
		}
		background: center / contain url(./../images/mob-bg.png)no-repeat;
		.bottom-block{
			flex-direction: column-reverse;
			margin: 0;
			padding: 0;
			z-index: 1;
			height: 100%;
			.logo-block{
				top:0;
				margin: 0 auto;
				margin-top: 1vw;
				width: 82vw;
				bottom:0;
			}
			.text-block{
				position: absolute;
				margin: 0 auto;
				width: 75vw;
				bottom:13.6363vw;
				left:12.5vw;
				img{
					width: 71.4285vw;
				}
				.text{
					padding: 0;
					margin: 0;
					margin-top: 2vw;
					width: 100%;
					font-size: 2.7vw;
					line-height: 3.3vw;
				}
			}
			.button-block{
				padding-left: 5.1948vw;
				padding-right: 5.1948vw;
				box-sizing: border-box;
				left: 0;
				position: absolute;
				width: 100%;
				justify-content: space-around;
				bottom: 20px;
			}
			.y-button{
				z-index: 60;
				background: transparent;
				text-align: center;
				height: auto;
				font-size: 4vw;
				line-height: 6vw;
				text-decoration: none;
				color: #e0b82a;
				&:before{
					content: '';
					position: absolute;
					bottom: 2px;
					display: block;
					height: 0.4vw;
					width: 100%;
					background-color: #e0b82a;
				}
			}
		}
		.brand{
			margin: 0;
			left: auto;
			right: 1vw;
			bottom: 65vw;
			width: 1.4vw;
		}
		.date{
			right: auto;
			bottom: auto;
			width: 22.078vw;
			left: 11vw;
			top:27.922vw;
			span{
				font-size: 3.89vw;
			}
		}
		.pagi{
			width: 10vw;
			bottom: 44vw;
			right: 1.3vw;
		}
		.abs{
			.big{
				font-size: 5.1948vw;
				color: #000;
				line-height: 6vw;
			}
			.small{
				font-size: 3.11vw;
				line-height: 4vw;
				color: #d7246d;
			}
			&.abs-1{
				background-image: url(./../images/abs1-mob.png);
				background-size: 100% 100%;
				padding: 0;
				padding-top: 0;
				padding-left: 14.93vw;
				top: 39vw;
				left: 21vw;
				width: 48vw;
				height: 20.779vw;
				&:before{
					display: none;
				}
			}
			&.abs-2{
				background-image: url(./../images/abs2-mob.png);
				padding: 0;
				padding-top: 15vw;
				top: 74vw;
				left: 1vw;
				width: 41vw;
				height: 29vw;
				z-index: 4;

			}
			&.abs-3{
				background-image: url(./../images/abs3-mob.png);
				padding: 0;
				padding-top: 28vw;
				top: auto;
				bottom: 63vw;
				left: 8vw;
				width: 47vw;
				height: 45vw;
				z-index: 3;
				.big{
					padding: 0 3vw;
				}
			}
			&.abs-4{
				background-image: url(./../images/abs4-mob.png);
				padding: 0;
				padding-top: 26vw;
				top: auto;
				left: 42vw;
				bottom: 49vw;
				width: 39vw;
				height: 38vw;
				z-index: 2;
			}
			&.abs-5{
				background-image: url(./../images/abs5-mob.png);
				padding: 0;
				padding-top: 1.5vw;
				top: 60vw;
				left: auto;
				right: 1vw;
				width: 41vw;
				height: 28vw;
				z-index: 3;
				justify-content:start;
				&:before{
					display: none;
				}
			}
		}
	}
	#section-3{
		height: 227.27272vw !important;

		.brand{
			margin: 0;
			display: block;
			left: auto;
			right: 1%;
			top: 25%;
			width: 2vw;
		}
		.pagi{
			display: block;
			bottom: auto;
			top: 50%;
			width: 10vw;
		}
		.abs-qeen{
			z-index: -1;
			width: 120%;
			left:-15%;
			height: auto;
			top: 9vw;
			img{
				height: auto;
			}
		}
		.main-block{
			padding-right: 0;
			position: relative;
			padding-top: 0;
			width: 100%;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			.video-block{
				width: 100%;
				justify-content: center;
				align-items: center;
				margin-top: 55vw;
				.video{
					width: 68vw;
					height: 39vw;
					border: 0.6vw solid #fff;
					padding: 1vw 3vw 2vw 2vw;
				}
				.black-button{
					margin-right: 0;
					color: #111815;
					background-color: #fff001;
					width: 34vw;
					height: 9vw;
					border-radius: 2vw;
					line-height: 9vw;
					margin-top: 1vw;
					text-transform: uppercase;
					font-size: 4vw;
					margin-bottom: 6.5vw;
				}
			}
			.text-block{
				position: static;
				width: 100%;
				margin-top: 5vw;
				padding: 0 4vw;
				box-sizing: border-box;
				.img{
					position: absolute;
					left: 0;
					top: 5vw;
					width: 100vw;
					box-sizing: border-box;
					padding: 0 3vw;
				}
				.date{
					left: auto;
					right: 3vw;
					top: 41vw;
					width: 28vw;
					span{
						font-size: 5.1948vw;
						text-transform: uppercase;
					}
				}
				p{
					padding: 0;
					font-size: 3.8961vw;
					line-height: 4.6753vw;
					margin-bottom: 3vw;
				}
			}
			.abs-qeen{
				left: -20vw;
				top: -70vw;
				width: 125vw;
			}
		}
	}

	.game{
		width: 100%;
		height: 100vh;
		padding-top: 0;
		.game__container {
			.game__inner {
				display: block;

				.game__block {
					box-sizing: border-box;
					&.game__collage {
						position: relative;
						margin-top: vw2(30);
						margin-left: 0;
						width: 100%;
						height: vw2(761);
						border:vw2(6) solid #fff001;
						padding: vw2(25);
						.collage__logo {
							top: vw2(20);
							width: vw2(260);
							height: vw2(359);
							left: vw2(35);
							z-index: 60;
						}
						.collage__items {
							.collage__item {
								padding: vw2(5);
								.delete_cross {
									right: vw2(5);
									top: vw2(5);
									height: vw2(9);
									width: vw2(9);
								}
								&.item_1 {
									width: vw2(180);
									height: vw2(180);
									top: vw2(80);
									left: vw2(310);
								}
								&.item_2 {
									width: vw2(280);
									height: vw2(280);
									top: vw2(40);
									right: vw2(20);
								}
								&.item_3 {
									width: vw2(162);
									height: vw2(162);
									top: vw2(220);
									left: vw2(275);
								}
								&.item_4 {
									width: vw2(267);
									height: vw2(313);
									bottom: vw2(52);
									right: vw2(24);
								}
								&.item_5 {
									width: vw2(119);
									height: vw2(160);
									left: vw2(39);
									bottom: vw2(31);
								}
								&.item_6 {
									width: vw2(156);
									height: vw2(368);
									bottom: vw2(36);
									left: vw2(176);
								}
							}
						}
					}
					&.game_choose {
						width: vw2(654);
						height: auto;
						box-sizing: border-box;
						padding: 1vw;
						padding-top: vw2(53);
						padding-bottom: vw2(85);
						margin: 0 auto;
						.choose__menu {
							.menu__item {
								font-size: vw2(24);
								margin: vw2(8) vw2(30);
								&.selected {
									color: #fff;
									&:before{
										height: vw2(2);
										bottom: vw2(-1);
									}
								}
							}
						}
						.choose__groups {
							margin-top: vw2(55);
							.choose__group {
								.slider__button{
									width: vw2(18);
									height: vw2(36);
									margin-top: vw2(-18);
									&.left{
										left: 0;
									}
									&.right{
										right: 0;
									}
								}
								.slider_wrap1 {
									padding: 0 vw2(20);
									.group__slider1 {
										.slider1__item {
											border: vw2(4) solid transparent;
											img {
												max-width: vw2(128);
												max-height: vw2(128);
											}
										}
									}
								}
								.slider_wrap {
									.group__slider2 {
										margin: vw2(50) auto vw2(75);
										width: vw2(313);
										.slider2__item {
											img {
												max-width: vw2(313);
												max-height: vw2(313);
											}
										}
									}
								}
							}
						}

					}
				}
				.game__send {
					p{
						margin-bottom: vw2(10);
						font-size: vw2(24);
					}
					ul{
						max-width: vw2(380);
						margin-bottom:vw2(48);
						li{
							width: vw2(56);
							height: vw2(56);
							border-radius: vw2(10);
							+li{
								margin-left: vw2(20);
							}
						}
					}
				}
			}
		}


		.close-button{
			right: vw2(24);
			top: vw2(101);
			width: vw2(70);
			height: vw2(70);
			filter: drop-shadow(0 0 6px black);
			> div{
				height: 4px;
				background-color: #ffce00;
				&:nth-child(1){
					margin-right: vw2(-70);
				}
				&:nth-child(2){
					transform: rotate2(-45deg);
				}
			}
		}

		.description{
			width: 100%;
			padding-top: vw2(90);
			padding-bottom: vw2(38);
			padding-left: vw2(38);
			padding-right: vw2(38);
			&:after{
				display: none;
			}
			&__image{
				display: none;
			}
			.title-game{
				width: vw2(560);
			}
			.top{
				font-size: vw2(26);
				line-height: vw2(28);
				font-family: $Nova-reg;
				margin-top: vw2(8);
				padding-right: 0;
			}
			ul{
				margin-top: vw2(30);
				padding-right: vw2(25);
				.heading{
					font-size: vw2(36);
				}
				li{
					font-size: vw2(24);
					padding-right: 0;
					margin-top: vw2(15);
				}
			}
		}
		.name-block{
			position: static;
			left: auto;
			bottom: auto;
			margin-top: vw2(20);
			span{
				font-size: vw2(72);
				color: #000;
			}
			p{
				font-size: vw2(36);
				margin-top: vw2(8);
			}
		}
		.day-look{
			width: vw2(550);
			bottom: vw2(-8);
			left: 50%;
			margin-left: vw2(-275);
			z-index: 60;
			span{
				font-size: vw2(42);
			}
			div{
				height: vw2(45)
			}
		}
		.game__auth{
			.title{
				font-size: vw2(24);
			}
			.info{
				font-size: vw2(18);
				margin-top: vw2(10);
			}
			.btn{
				font-size: vw2(37);
				padding: vw2(20) vw2(55);
				border-radius: vw2(10);
			}
		}
		.social-block{
			margin-top: vw2(10);
			display: flex;
			justify-content: center;
			align-items: center;
			.soc-link{
				width: vw2(56);
				height: vw2(56);
				border-radius: vw2(10);
				+.soc-link{
					margin-left: vw2(20);
				}
				svg{
					width: vw2(35);
					height: vw2(35);
				}
			}
		}


		.game__thnaks{
			margin-bottom: vw2(75);
			padding-top: vw2(60);
			width: vw2(587);
			margin-left: auto;
			margin-right: auto;
			.title{
				font-size: vw2(56);
				width: vw2(480);
				margin: 0 auto;
				&::before{
					top: vw2(8);
					height: vw2(60);
				}
			}
			.text{
				font-size: vw2(30);
				line-height: vw2(28);
				margin-top: vw2(75);
			}
		}

	}
}

